*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/SumaApp/nbproject/private/
/Sem01/SumaApp/build/
/Sem01/VentaApp/nbproject/private/
/Sem01/VentaApp/build/
/Sem02/JSP01/nbproject/private/
/Sem02/JSP01/build/
/Sem02/Calculadora/nbproject/private/
/Sem02/Calculadora/build/
/Sem03/Calculadora/build/
/Sem03/Calculadora2 - copia/build/
/Sem03/Calculadora2 - copia/nbproject/private/
/Sem03/Calculadora3/build/
/Sem03/Calculadora3/nbproject/private/
/Sem03/Calculadora3/dist/
/Sem03/AprendiendoJava/nbproject/private/
/Sem03/AprendiendoJava/build/
/Sem05/AprendiendoJava/nbproject/private/
/Sem05/AprendiendoJava/build/
/Sem05/SumaConJSTL/nbproject/private/
/Sem05/SumaConJSTL/build/
/Sem05/SumaConJSTL/dist/
/Sem05/SolPract01/nbproject/private/
/Sem05/SolPract01/build/
/Sem05/SolPract01/dist/
/Sem06/DemoSesiones/nbproject/private/
/Sem06/DemoSesiones/build/
/Sem06/DemoSesiones/dist/
/Sem06/DemoCarrito/nbproject/private/
/Sem06/DemoCarrito/build/